In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("datos/hotel_bookings.csv", index_col = 0)
df.head(1)

,hotel,is canceled,lead time,arrival date week number,stays in weekend nights,stays in week nights,adults,children,babies,meal,...,deposit type,agent,company,days in waiting list,customer type,adr,required car parking spaces,total of special requests,reservation status,reservation status date
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01

**Analisis exploratorio** del dataframe. lo primero que deberéis hacer es un pequeño análisis exploratorio donde saquéis: 

- Número de filas y columnas

- Cuáles son los nombres de las columnas

- Los nombres de las columnas tienen espacios. Cambiar los nombres de las columnas, para que en vez de espacios tengan "_"

- ¿Cuántos nulos tiene nuestro df? Mostrad solo aquellas filas que tengan nulos y en formato del porcentaje

- ¿Tenemos duplicados en nuestro df?

- ¿Cuáles son los principales estadísticos de las variables numéricas? ¿Y de las categóricas? Mostrad los resultados por separado. 

- Cread un subdataframe que contenga unicamente las columnas de tipo *object*

In [6]:
df.shape

(119390, 29)

In [7]:
df.columns

Index(['hotel', 'is canceled', 'lead time', 'arrival date week number',
       'stays in weekend nights', 'stays in week nights', 'adults', 'children',
       'babies', 'meal', 'country', 'market segment', 'distribution channel',
       'is repeated guest', 'previous cancellations',
       'previous bookings not canceled', 'reserved room type',
       'assigned room type', 'booking changes', 'deposit type', 'agent',
       'company', 'days in waiting list', 'customer type', 'adr',
       'required car parking spaces', 'total of special requests',
       'reservation status', 'reservation status date'],
      dtype='object')

In [8]:
nuevas_columnas = {col: col.replace(" ", "_") for col in df.columns}
nuevas_columnas

{'hotel': 'hotel',
 'is canceled': 'is_canceled',
 'lead time': 'lead_time',
 'arrival date week number': 'arrival_date_week_number',
 'stays in weekend nights': 'stays_in_weekend_nights',
 'stays in week nights': 'stays_in_week_nights',
 'adults': 'adults',
 'children': 'children',
 'babies': 'babies',
 'meal': 'meal',
 'country': 'country',
 'market segment': 'market_segment',
 'distribution channel': 'distribution_channel',
 'is repeated guest': 'is_repeated_guest',
 'previous cancellations': 'previous_cancellations',
 'previous bookings not canceled': 'previous_bookings_not_canceled',
 'reserved room type': 'reserved_room_type',
 'assigned room type': 'assigned_room_type',
 'booking changes': 'booking_changes',
 'deposit type': 'deposit_type',
 'agent': 'agent',
 'company': 'company',
 'days in waiting list': 'days_in_waiting_list',
 'customer type': 'customer_type',
 'adr': 'adr',
 'required car parking spaces': 'required_car_parking_spaces',
 'total of special requests': 'total_of_special_requests',
 'reservation status': 'reservation_status',
 'reservation status date': 'reservation_status_date'}

In [9]:
df.rename(columns = nuevas_columnas, inplace = True)
df.head()

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,27,0,1,1,0.0,0,BB,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,27,0,1,1,0.0,0,BB,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,27,0,2,2,0.0,0,BB,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [13]:
lista_columnas2 = list(map(lambda x: x.replace(" ", "_"), df.columns))

In [15]:
lista_columnas2[:3]

['hotel', 'is_canceled', 'lead_time']

**Cread una columna que se llame `id`, que contenga números consecutivos que no se repitan**

In [20]:
df_nulos = pd.DataFrame(df.isnull().sum() / df.shape[0] * 100)
df_nulos.head(2)

               0
hotel        0.0
is_canceled  0.0

In [22]:
df_nulos2 = df_nulos[df_nulos[0] > 0]
df_nulos2

                  0
children   0.003350
country    0.408744
agent     13.686238
company   94.306893

In [21]:
(df.isnull().sum() / df.shape[0] * 100).reset_index()

                             index          0
0                            hotel   0.000000
1                      is_canceled   0.000000
2                        lead_time   0.000000
3         arrival_date_week_number   0.000000
4          stays_in_weekend_nights   0.000000
5             stays_in_week_nights   0.000000
6                           adults   0.000000
7                         children   0.003350
8                           babies   0.000000
9                             meal   0.000000
10                         country   0.408744
11                  market_segment   0.000000
12            distribution_channel   0.000000
13               is_repeated_guest   0.000000
14          previous_cancellations   0.000000
15  previous_bookings_not_canceled   0.000000
16              reserved_room_type   0.000000
17              assigned_room_type   0.000000
18                 booking_changes   0.000000
19                    deposit_type   0.000000
20                           agent  13.686238
21                         company  94.306893
22            days_in_waiting_list   0.000000
23                   customer_type   0.000000
24                             adr   0.000000
25     required_car_parking_spaces   0.000000
26       total_of_special_requests   0.000000
27              reservation_status   0.000000
28         reservation_status_date   0.000000

In [24]:
df.duplicated().sum()

31994

In [27]:
df.duplicated(subset = ["hotel", "is_canceled"])

0         False
1          True
2          True
3          True
4          True
          ...
119385     True
119386     True
119387     True
119388     True
119389     True
Length: 119390, dtype: bool

In [29]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

In [31]:
df.describe(include = "object").T

                          count unique         top    freq
hotel                    119390      2  City Hotel   79330
meal                     119390      5          BB   92310
country                  118902    177         PRT   48590
market_segment           119390      8   Online TA   56477
distribution_channel     119390      5       TA/TO   97870
reserved_room_type       119390     10           A   85994
assigned_room_type       119390     12           A   74053
deposit_type             119390      3  No Deposit  104641
customer_type            119390      4   Transient   89613
reservation_status       119390      3   Check-Out   75166
reservation_status_date  119390    926  2015-10-21    1461

In [33]:
df.select_dtypes(include = "object").head(1)

,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01

In [35]:
df.select_dtypes(exclude = "object")

,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,0,342,27,0,0,2,0.0,0,0,0,0,3,NaN,NaN,0,0.00,0,0
1,0,737,27,0,0,2,0.0,0,0,0,0,4,NaN,NaN,0,0.00,0,0
2,0,7,27,0,1,1,0.0,0,0,0,0,0,NaN,NaN,0,75.00,0,0
3,0,13,27,0,1,1,0.0,0,0,0,0,0,304.0,NaN,0,75.00,0,0
4,0,14,27,0,2,2,0.0,0,0,0,0,0,240.0,NaN,0,98.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,35,2,5,2,0.0,0,0,0,0,0,394.0,NaN,0,96.14,0,0
119386,0,102,35,2,5,3,0.0,0,0,0,0,0,9.0,NaN,0,225.43,0,2
119387,0,34,35,2,5,2,0.0,0,0,0,0,0,9.0,NaN,0,157.71,0,4
119388,0,109,35,2,5,2,0.0,0,0,0,0,0,89.0,NaN,0,104.40,0,0
119389,0,205,35,2,7,2,0.0,0,0,0,0,0,9.0,NaN,0,151.20,0,2

In [38]:
pd.to_datetime(df["reservation_status_date"])

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-09-06
119386   2017-09-07
119387   2017-09-07
119388   2017-09-07
119389   2017-09-07
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns]

In [39]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,27,0,1,1,0.0,0,BB,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,27,0,1,1,0.0,0,BB,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,27,0,2,2,0.0,0,BB,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [40]:
df.reset_index(inplace = True)
df.head()

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,Resort Hotel,0,342,27,0,0,2,0.0,0,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,1,Resort Hotel,0,737,27,0,0,2,0.0,0,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,2,Resort Hotel,0,7,27,0,1,1,0.0,0,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,3,Resort Hotel,0,13,27,0,1,1,0.0,0,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,4,Resort Hotel,0,14,27,0,2,2,0.0,0,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [41]:
df["id_"] = np.arange(df.shape[0])

In [42]:
df.head(1)

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id_
0,0,Resort Hotel,0,342,27,0,0,2,0.0,0,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0

In [ ]:
df["id_"] = range(df.shape[0])

**Cread una columma nueva usando la columna `stays_in_weekend_nights`**

Basandonos en esta columna queremos dividir las estancias en dos categorías: 

- Estancias superiores a 5 dias serán etiquetadas como "long stay" 

- Estancias iguales o inferiores a 5 días serán consideradas como "short stay"

- Cread una nueva columna que se llame "stays_type" 

- Mostrad las 6 últimas filas

In [43]:
df["stays_type"] = np.where(df["stays_in_weekend_nights"] > 5, "Long stays", "Short stays")

In [44]:
df.stays_type.unique()

array(['Short stays', 'Long stays'], dtype=object)

**Basandonos en la columna `required_car_parking_spaces`:**

- Chequead los valores únicos de la columna

- De cada una de las categorías de la columna, ¿cuántos registros tenemos de cada uno de ellos? Mostrad este resultado como un DataFrame

- Esta columna está en formato numérico y no nos interesa. Cambiad los 0 por "No" y mayores que 0 por "Si"

- Cread una nueva columna que se llame "parking"

In [45]:
df["required_car_parking_spaces"].unique()

array([0, 1, 2, 8, 3])

In [49]:
df["required_car_parking_spaces"].value_counts().reset_index()

   index  required_car_parking_spaces
0      0                       111974
1      1                         7383
2      2                           28
3      3                            3
4      8                            2

In [52]:
df.groupby("required_car_parking_spaces")["index"].count()

required_car_parking_spaces
0    111974
1      7383
2        28
3         3
8         2
Name: index, dtype: int64

In [53]:
df["parking"] = np.where(df["required_car_parking_spaces"] == 0, "No", "Si")

In [54]:
df.parking.unique()

array(['No', 'Si'], dtype=object)

In [55]:
df.parking.value_counts()

No    111974
Si      7416
Name: parking, dtype: int64

**Utilizando la columna de `reservation_status_date`:**

- Cread dos columnas nuevas que correspondan con  el mes y el año. 

- Una vez que las hayais creado eliminad la columna `reservation_status_date`

- ¿Qué mes es en el que tenemos más reservas? ¿Y el año?

In [56]:
def separar_fechas(fecha):
    return fecha.split("-")[0], fecha.split("-")[1]

In [57]:
df[["año", "mes"]] = df.apply(lambda d: separar_fechas(d["reservation_status_date"]), axis = 1, result_type= "expand")

In [58]:
df.head()

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes
0,0,Resort Hotel,0,342,27,0,0,2,0.0,0,...,0.0,0,0,Check-Out,2015-07-01,0,Short stays,No,2015,07
1,1,Resort Hotel,0,737,27,0,0,2,0.0,0,...,0.0,0,0,Check-Out,2015-07-01,1,Short stays,No,2015,07
2,2,Resort Hotel,0,7,27,0,1,1,0.0,0,...,75.0,0,0,Check-Out,2015-07-02,2,Short stays,No,2015,07
3,3,Resort Hotel,0,13,27,0,1,1,0.0,0,...,75.0,0,0,Check-Out,2015-07-02,3,Short stays,No,2015,07
4,4,Resort Hotel,0,14,27,0,2,2,0.0,0,...,98.0,0,1,Check-Out,2015-07-03,4,Short stays,No,2015,07

In [59]:
df["fecha"] = pd.to_datetime(df["reservation_status_date"])

In [60]:
df.dtypes

index                                      int64
hotel                                     object
is_canceled                                int64
lead_time                                  int64
arrival_date_week_number                   int64
stays_in_weekend_nights                    int64
stays_in_week_nights                       int64
adults                                     int64
children                                 float64
babies                                     int64
meal                                      object
country                                   object
market_segment                            object
distribution_channel                      object
is_repeated_guest                          int64
previous_cancellations                     int64
previous_bookings_not_canceled             int64
reserved_room_type                        object
assigned_room_type                        object
booking_changes                            int64
deposit_type                              object
agent                                    float64
company                                  float64
days_in_waiting_list                       int64
customer_type                             object
adr                                      float64
required_car_parking_spaces                int64
total_of_special_requests                  int64
reservation_status                        object
reservation_status_date                   object
id_                                        int64
stays_type                                object
parking                                   object
año                                       object
mes                                       object
fecha                             datetime64[ns]
dtype: object

**Ahora no nos interesan los meses en números y queremos tenerlos con letra, es decir, enero, febrero, marzo, etc... Cambiad los valores de la columna "month" para tenerlos en el formato que queremos.**

In [62]:
from datetime import datetime

In [66]:
df["fecha"].dt.year

0         2015
1         2015
2         2015
3         2015
4         2015
          ...
119385    2017
119386    2017
119387    2017
119388    2017
119389    2017
Name: fecha, Length: 119390, dtype: int64

In [67]:
df["fecha"].dt.month

0         7
1         7
2         7
3         7
4         7
         ..
119385    9
119386    9
119387    9
119388    9
119389    9
Name: fecha, Length: 119390, dtype: int64

In [68]:
df["fecha"].dt.day

0         1
1         1
2         2
3         2
4         3
         ..
119385    6
119386    7
119387    7
119388    7
119389    7
Name: fecha, Length: 119390, dtype: int64

In [69]:
import calendar

In [74]:
meses_letras = list(calendar.month_name)[1:]
meses_letras

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [76]:
meses_numeros = sorted(list(df["mes"].unique()))
meses_numeros

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

In [78]:
diccionario = dict(zip(meses_numeros, meses_letras))
diccionario

{'01': 'January',
 '02': 'February',
 '03': 'March',
 '04': 'April',
 '05': 'May',
 '06': 'June',
 '07': 'July',
 '08': 'August',
 '09': 'September',
 '10': 'October',
 '11': 'November',
 '12': 'December'}

In [80]:
def formatear_fecha(mes, diccionario_conversion = diccionario):
    for k, value in diccionario_conversion.items():
        if k == mes:
            return value

In [79]:
def formatear_fecha(mes, diccionario_conversion = diccionario):
    return diccionario_conversion[mes]

In [ ]:
def formatear_fechas(mes):
    return meses_letras[int(mes) -1 ]

In [81]:
df["mes_nuevo" ] = df["mes"].apply(formatear_fecha)

In [82]:
df.head(2)

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
0,0,Resort Hotel,0,342,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,0,Short stays,No,2015,07,2015-07-01,July
1,1,Resort Hotel,0,737,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,1,Short stays,No,2015,07,2015-07-01,July

**¿Cuál es el número medio, el máximo y el mínimo de noches pasadas en fines de semana en funcion del tipo de hotel (columma `hotel`)? ¿Y los días entre semana?**

In [86]:
df_hotel_finde = df.groupby("hotel")["stays_in_weekend_nights"].agg(["min", "max", "mean"])
df_hotel_finde

              min  max      mean
hotel
City Hotel      0   16  0.795185
Resort Hotel    0   19  1.189815

In [87]:
df_hotel_semana = df.groupby("hotel")["stays_in_week_nights"].agg(["min", "max", "mean"])
df_hotel_semana

              min  max      mean
hotel
City Hotel      0   41  2.182957
Resort Hotel    0   50  3.128732

**¿ Basándonos en el país y en el tipo de hotel, cual es la media de adultos de las reservas?**

**BONUS** Si exploramos los datos del ejercicio anterior, veremos que hay en paises donde solo tenemos un tipo de hotel y en otros tenemos los dos tipos. En este caso, deberéis quedaros solo con aquellos paises que tengan los dos tipos de hoteles. ¿Cuántos países distintos tenemos en este nuevo resultado que acabamos de generar?

In [91]:
df_pais = df.groupby(["country", "hotel"])["adults"].mean().reset_index()
df_pais

    country         hotel    adults
0       ABW    City Hotel  2.500000
1       AGO    City Hotel  1.550296
2       AGO  Resort Hotel  1.916667
3       AIA    City Hotel  2.000000
4       ALB    City Hotel  1.666667
..      ...           ...       ...
286     ZAF  Resort Hotel  1.944444
287     ZMB    City Hotel  2.000000
288     ZMB  Resort Hotel  2.000000
289     ZWE    City Hotel  2.000000
290     ZWE  Resort Hotel  2.000000

[291 rows x 3 columns]

In [101]:
df_pais.duplicated("country")

0      False
1      False
2       True
3      False
4      False
       ...
286     True
287    False
288     True
289    False
290     True
Length: 291, dtype: bool

In [102]:
df_pais.duplicated("country", keep = False)

0      False
1       True
2       True
3      False
4       True
       ...
286     True
287     True
288     True
289     True
290     True
Length: 291, dtype: bool

In [103]:
df_paises2 = df_pais[df_pais.duplicated("country", keep = False)]
df_paises2

    country         hotel    adults
1       AGO    City Hotel  1.550296
2       AGO  Resort Hotel  1.916667
4       ALB    City Hotel  1.666667
5       ALB  Resort Hotel  2.000000
6       AND    City Hotel  2.000000
..      ...           ...       ...
286     ZAF  Resort Hotel  1.944444
287     ZMB    City Hotel  2.000000
288     ZMB  Resort Hotel  2.000000
289     ZWE    City Hotel  2.000000
290     ZWE  Resort Hotel  2.000000

[228 rows x 3 columns]

In [106]:
df_paises2.shape[0] / 2

114.0

In [109]:
len(df_paises2["country"].unique())

114

**Basándonos en la columna de `hotel` filtrad los datos para extraer solo los valores de "Resort Hotel"**

In [114]:
df.sample(3)

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
107613,107613,City Hotel,0,34,11,2,2,2,0.0,0,...,1,Check-Out,2017-03-16,107613,Short stays,No,2017,03,2017-03-16,March
1463,1463,Resort Hotel,1,346,36,4,8,2,0.0,0,...,0,Canceled,2015-08-14,1463,Short stays,No,2015,08,2015-08-14,August
104388,104388,City Hotel,0,52,2,0,2,2,0.0,0,...,1,Check-Out,2017-01-12,104388,Short stays,No,2017,01,2017-01-12,January

In [116]:
df[df["hotel"] == "Resort Hotel"].head()

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
0,0,Resort Hotel,0,342,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,0,Short stays,No,2015,07,2015-07-01,July
1,1,Resort Hotel,0,737,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,1,Short stays,No,2015,07,2015-07-01,July
2,2,Resort Hotel,0,7,27,0,1,1,0.0,0,...,0,Check-Out,2015-07-02,2,Short stays,No,2015,07,2015-07-02,July
3,3,Resort Hotel,0,13,27,0,1,1,0.0,0,...,0,Check-Out,2015-07-02,3,Short stays,No,2015,07,2015-07-02,July
4,4,Resort Hotel,0,14,27,0,2,2,0.0,0,...,1,Check-Out,2015-07-03,4,Short stays,No,2015,07,2015-07-03,July

**Basándonos en la columa `meal` extraed solo los valores que correspondan con "BB" y "FB"**

In [117]:
df_meal = df[(df["meal"] == "BB") | (df["meal"] == "FB") ]
df_meal.head()

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
0,0,Resort Hotel,0,342,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,0,Short stays,No,2015,07,2015-07-01,July
1,1,Resort Hotel,0,737,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,1,Short stays,No,2015,07,2015-07-01,July
2,2,Resort Hotel,0,7,27,0,1,1,0.0,0,...,0,Check-Out,2015-07-02,2,Short stays,No,2015,07,2015-07-02,July
3,3,Resort Hotel,0,13,27,0,1,1,0.0,0,...,0,Check-Out,2015-07-02,3,Short stays,No,2015,07,2015-07-02,July
4,4,Resort Hotel,0,14,27,0,2,2,0.0,0,...,1,Check-Out,2015-07-03,4,Short stays,No,2015,07,2015-07-03,July

In [118]:
df_meal["meal"].unique()

array(['BB', 'FB'], dtype=object)

In [119]:
df.meal.unique()

array(['BB', 'FB', 'HB', 'SC', 'Undefined'], dtype=object)

**En este caso, nos interesan los datos donde tengamos reservas sin niños y sin bebes**

In [120]:
df.head()

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
0,0,Resort Hotel,0,342,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,0,Short stays,No,2015,07,2015-07-01,July
1,1,Resort Hotel,0,737,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,1,Short stays,No,2015,07,2015-07-01,July
2,2,Resort Hotel,0,7,27,0,1,1,0.0,0,...,0,Check-Out,2015-07-02,2,Short stays,No,2015,07,2015-07-02,July
3,3,Resort Hotel,0,13,27,0,1,1,0.0,0,...,0,Check-Out,2015-07-02,3,Short stays,No,2015,07,2015-07-02,July
4,4,Resort Hotel,0,14,27,0,2,2,0.0,0,...,1,Check-Out,2015-07-03,4,Short stays,No,2015,07,2015-07-03,July

In [122]:
df_adultos = df[(df["babies"] == 0) & (df["children"] == 0.0) ]
df_adultos.head(1)

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
0,0,Resort Hotel,0,342,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,0,Short stays,No,2015,07,2015-07-01,July

In [123]:
df_adultos.isnull().sum()

index                                  0
hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_week_number               0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                              474
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              15537
company                           103348
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
id_                                    0
stays_type                             0
parking                                0
año                                    0
mes                                    0
fecha                                  0
mes_nuevo                              0
dtype: int64

**¿Cuáles son los valores únicos de la columna `children`?**

**¿Por qué nos sale con decimales?**

**Reemplazad los valores nulos por la moda**

In [125]:
df["children"].mode()[0]

0.0

In [126]:
df["children"].fillna(df["children"].mode()[0], inplace = True)

In [ ]:
df["children"] = df["children"].fillna(df["children"].mode()[0])

In [127]:
df.head()

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
0,0,Resort Hotel,0,342,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,0,Short stays,No,2015,07,2015-07-01,July
1,1,Resort Hotel,0,737,27,0,0,2,0.0,0,...,0,Check-Out,2015-07-01,1,Short stays,No,2015,07,2015-07-01,July
2,2,Resort Hotel,0,7,27,0,1,1,0.0,0,...,0,Check-Out,2015-07-02,2,Short stays,No,2015,07,2015-07-02,July
3,3,Resort Hotel,0,13,27,0,1,1,0.0,0,...,0,Check-Out,2015-07-02,3,Short stays,No,2015,07,2015-07-02,July
4,4,Resort Hotel,0,14,27,0,2,2,0.0,0,...,1,Check-Out,2015-07-03,4,Short stays,No,2015,07,2015-07-03,July

In [128]:
df["children"] = df["children"].astype(int)

In [130]:
#df.dtypes

In [131]:
df.head()

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
0,0,Resort Hotel,0,342,27,0,0,2,0,0,...,0,Check-Out,2015-07-01,0,Short stays,No,2015,07,2015-07-01,July
1,1,Resort Hotel,0,737,27,0,0,2,0,0,...,0,Check-Out,2015-07-01,1,Short stays,No,2015,07,2015-07-01,July
2,2,Resort Hotel,0,7,27,0,1,1,0,0,...,0,Check-Out,2015-07-02,2,Short stays,No,2015,07,2015-07-02,July
3,3,Resort Hotel,0,13,27,0,1,1,0,0,...,0,Check-Out,2015-07-02,3,Short stays,No,2015,07,2015-07-02,July
4,4,Resort Hotel,0,14,27,0,2,2,0,0,...,1,Check-Out,2015-07-03,4,Short stays,No,2015,07,2015-07-03,July

**Viendo los valores únicos del número de hijos, hay algo que os llame la antención?**

**Ahora queremos ordenar nuestros datos, lo haremos por el año** Las condiciones para ordenar son: 

- Año: de menor a mayor

In [133]:
df["año"].unique()

array(['2015', '2014', '2016', '2017'], dtype=object)

In [135]:
df_ordenado = df.sort_values(by = "año")
df_ordenado.head(2)

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
73814,73814,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73814,Short stays,No,2014,10,2014-10-17,October
73852,73852,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73852,Short stays,No,2014,10,2014-10-17,October

**Ordendad de nuevo el df, pero en este caso en función de número de adultos y niños.** Las condiciones para ordenar son: 

- Número de adultos: de mayor a menor

- Número de hijos: de menor a mayor

In [138]:
df.sort_values(by = ["adults", "children"], ascending = [True, False], inplace = True)
df.tail(50)

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
34787,34787,Resort Hotel,0,69,13,2,3,4,0,0,...,0,Check-Out,2017-04-05,34787,Short stays,No,2017,04,2017-04-05,April
39477,39477,Resort Hotel,0,205,33,0,1,4,0,0,...,0,Check-Out,2017-08-19,39477,Short stays,Si,2017,08,2017-08-19,August
39931,39931,Resort Hotel,0,0,35,0,2,4,0,0,...,0,Check-Out,2017-09-02,39931,Short stays,Si,2017,09,2017-09-02,September
54254,54254,City Hotel,1,61,29,2,1,4,0,0,...,0,Canceled,2016-05-10,54254,Short stays,No,2016,05,2016-05-10,May
54479,54479,City Hotel,1,21,30,2,1,4,0,0,...,0,Canceled,2016-07-07,54479,Short stays,No,2016,07,2016-07-07,July
55783,55783,City Hotel,1,36,35,1,0,4,0,0,...,0,Canceled,2016-07-16,55783,Short stays,No,2016,07,2016-07-16,July
64272,64272,City Hotel,1,75,9,2,3,4,0,0,...,0,Canceled,2016-12-19,64272,Short stays,No,2016,12,2016-12-19,December
64293,64293,City Hotel,1,75,9,2,3,4,0,0,...,1,Canceled,2017-02-10,64293,Short stays,No,2017,02,2017-02-10,February
68937,68937,City Hotel,1,141,21,0,2,4,0,0,...,2,Canceled,2017-04-22,68937,Short stays,No,2017,04,2017-04-22,April
68940,68940,City Hotel,1,141,21,0,2,4,0,0,...,2,Canceled,2017-04-22,68940,Short stays,No,2017,04,2017-04-22,April
81483,81483,City Hotel,0,4,20,0,1,4,0,0,...,4,Check-Out,2016-05-14,81483,Short stays,Si,2016,05,2016-05-14,May
87103,87103,City Hotel,0,26,16,0,1,4,0,0,...,2,Check-Out,2016-04-14,87103,Short stays,No,2016,04,2016-04-14,April
93170,93170,City Hotel,0,141,29,1,1,4,0,0,...,2,Check-Out,2016-07-18,93170,Short stays,No,2016,07,2016-07-18,July
93894,93894,City Hotel,0,45,31,0,1,4,0,0,...,2,Check-Out,2016-07-28,93894,Short stays,No,2016,07,2016-07-28,July
94415,94415,City Hotel,0,127,32,2,2,4,0,0,...,1,Check-Out,2016-08-04,94415,Short stays,No,2016,08,2016-08-04,August
95431,95431,City Hotel,0,32,34,0,2,4,0,0,...,1,Check-Out,2016-08-19,95431,Short stays,No,2016,08,2016-08-19,August
95995,95995,City Hotel,0,11,35,0,3,4,0,0,...,1,Check-Out,2016-08-27,95995,Short stays,No,2016,08,2016-08-27,August
96772,96772,City Hotel,0,31,37,1,2,4,0,0,...,1,Check-Out,2016-09-08,96772,Short stays,No,2016,09,2016-09-08,September
96847,96847,City Hotel,0,46,37,1,3,4,0,0,...,1,Check-Out,2016-09-09,96847,Short stays,No,2016,09,2016-09-09,September
99994,99994,City Hotel,0,86,43,0,3,4,0,0,...,1,Check-Out,2016-10-23,99994,Short stays,No,2016,10,2016-10-23,October
103011,103011,City Hotel,0,109,50,0,3,4,0,0,...,1,Check-Out,2016-12-11,103011,Short stays,No,2016,12,2016-12-11,December
103450,103450,City Hotel,0,18,52,0,2,4,0,0,...,2,Check-Out,2016-12-25,103450,Short stays,No,2016,12,2016-12-25,December
103528,103528,City Hotel,0,1,53,2,0,4,0,0,...,2,Check-Out,2016-12-27,103528,Short stays,No,2016,12,2016-12-27,December
103586,103586,City Hotel,0,74,53,2,1,4,0,0,...,2,Check-Out,2016-12-28,103586,Short stays,No,2016,12,2016-12-28,December
105250,105250,City Hotel,0,106,5,0,1,4,0,0,...,1,Check-Out,2017-02-04,105250,Short stays,No,2017,02,2017-02-04,February
106125,106125,City Hotel,0,31,7,2,3,4,0,0,...,1,Check-Out,2017-02-21,106125,Short stays,No,2017,02,2017-02-21,February
111778,111778,City Hotel,0,224,20,1,0,4,0,0,...,4,Check-Out,2017-05-15,111778,Short stays,No,2017,05,2017-05-15,May
113968,113968,City Hotel,0,41,24,0,2,4,0,0,...,0,Check-Out,2017-06-15,113968,Short stays,No,2017,06,2017-06-15,June
114041,114041,City Hotel,0,4,24,0,1,4,0,0,...,0,Check-Out,2017-06-16,114041,Short stays,No,2017,06,2017-06-16,June
114656,114656,City Hotel,0,112,25,0,4,4,0,0,...,2,Check-Out,2017-06-25,114656,Short stays,No,2017,06,2017-06-25,June
116395,116395,City Hotel,0,84,29,2,1,4,0,0,...,3,Check-Out,2017-07-19,116395,Short stays,No,2017,07,2017-07-19,July
117921,117921,City Hotel,0,14,32,0,3,4,0,0,...,0,Check-Out,2017-08-12,117921,Short stays,No,2017,08,2017-08-12,August
118480,118480,City Hotel,0,174,33,1,1,4,0,0,...,0,Check-Out,2017-08-21,118480,Short stays,No,2017,08,2017-08-21,August
118911,118911,City Hotel,0,137,34,0,4,4,0,0,...,2,Check-Out,2017-08-27,118911,Short stays,No,2017,08,2017-08-27,August
2231,2231,Resort Hotel,1,328,41,2,5,5,0,0,...,0,Canceled,2015-01-02,2231,Short stays,No,2015,01,2015-01-02,January
2419,2419,Resort Hotel,1,334,42,2,5,5,0,0,...,0,Canceled,2015-01-02,2419,Short stays,No,2015,01,2015-01-02,January
2229,2229,Resort Hotel,1,328,41,2,5,6,0,0,...,0,Canceled,2015-01-02,2229,Short stays,No,2015,01,2015-01-02,January
2417,2417,Resort Hotel,1,334,42,2,5,10,0,0,...,0,Canceled,2015-01-02,2417,Short stays,No,2015,01,2015-01-02,January
2228,2228,Resort Hotel,1,328,41,2,5,20,0,0,...,0,Canceled,2015-09-03,2228,Short stays,No,2015,09,2015-09-03,September
2418,2418,Resort Hotel,1,334,42,2,5,20,0,0,...,0,Canceled,2015-01-02,2418,Short stays,No,2015,01,2015-01-02,January
1587,1587,Resort Hotel,1,333,36,2,5,26,0,0,...,0,Canceled,2015-01-02,1587,Short stays,No,2015,01,2015-01-02,January
1752,1752,Resort Hotel,1,340,37,2,5,26,0,0,...,0,Canceled,2015-01-02,1752,Short stays,No,2015,01,2015-01-02,January
1884,1884,Resort Hotel,1,347,38,2,5,26,0,0,...,0,Canceled,2015-01-02,1884,Short stays,No,2015,01,2015-01-02,January
2003,2003,Resort Hotel,1,354,39,2,5,26,0,0,...,0,Canceled,2015-01-02,2003,Short stays,No,2015,01,2015-01-02,January
2164,2164,Resort Hotel,1,361,40,2,5,26,0,0,...,0,Canceled,2015-01-02,2164,Short stays,No,2015,01,2015-01-02,January
1917,1917,Resort Hotel,1,349,39,1,3,27,0,0,...,0,Canceled,2015-01-02,1917,Short stays,No,2015,01,2015-01-02,January
1962,1962,Resort Hotel,1,352,39,1,3,27,0,0,...,0,Canceled,2015-01-02,1962,Short stays,No,2015,01,2015-01-02,January
1539,1539,Resort Hotel,1,304,36,0,3,40,0,0,...,0,Canceled,2015-01-02,1539,Short stays,No,2015,01,2015-01-02,January
1643,1643,Resort Hotel,1,336,37,1,2,50,0,0,...,0,Canceled,2015-01-18,1643,Short stays,No,2015,01,2015-01-18,January
2173,2173,Resort Hotel,1,338,41,2,0,55,0,0,...,0,Canceled,2015-01-02,2173,Short stays,No,2015,01,2015-01-02,January

**Después de hacer este último orden, nuestros índices ya no están ordenados, ordenad los índices para que empiecen desde el cero**

**Momento de practicar con el loc e iloc**

- Extraed todas las columnas para el índice 1

- Extraed las colummas de adultos, niños y bebes de todas las filas pares

- Extraed todas las filas de la columna hotel (utilizad loc o iloc)

In [139]:
df.head()

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
40984,40984,City Hotel,0,1,33,1,1,0,3,0,...,0,Check-Out,2015-08-12,40984,Short stays,No,2015,08,2015-08-12,August
46132,46132,City Hotel,1,6,51,1,0,0,3,0,...,1,Canceled,2015-12-10,46132,Short stays,No,2015,12,2015-12-10,December
54726,54726,City Hotel,1,59,31,2,4,0,3,0,...,2,Canceled,2016-06-02,54726,Short stays,No,2016,06,2016-06-02,June
54888,54888,City Hotel,1,225,31,2,4,0,3,0,...,1,Canceled,2016-06-04,54888,Short stays,No,2016,06,2016-06-04,June
82988,82988,City Hotel,0,0,2,0,2,0,3,0,...,1,Check-Out,2016-01-10,82988,Short stays,No,2016,01,2016-01-10,January

In [140]:
df.loc[1, :]

index                                               1
hotel                                    Resort Hotel
is_canceled                                         0
lead_time                                         737
arrival_date_week_number                           27
stays_in_weekend_nights                             0
stays_in_week_nights                                0
adults                                              2
children                                            0
babies                                              0
meal                                               BB
country                                           PRT
market_segment                                 Direct
distribution_channel                           Direct
is_repeated_guest                                   0
previous_cancellations                              0
previous_bookings_not_canceled                      0
reserved_room_type                                  C
assigned_room_type                                  C
booking_changes                                     4
deposit_type                               No Deposit
agent                                             NaN
company                                           NaN
days_in_waiting_list                                0
customer_type                               Transient
adr                                               0.0
required_car_parking_spaces                         0
total_of_special_requests                           0
reservation_status                          Check-Out
reservation_status_date                    2015-07-01
id_                                                 1
stays_type                                Short stays
parking                                            No
año                                              2015
mes                                                07
fecha                             2015-07-01 00:00:00
mes_nuevo                                        July
Name: 1, dtype: object

In [141]:
df.iloc[1, :]

index                                           46132
hotel                                      City Hotel
is_canceled                                         1
lead_time                                           6
arrival_date_week_number                           51
stays_in_weekend_nights                             1
stays_in_week_nights                                0
adults                                              0
children                                            3
babies                                              0
meal                                               BB
country                                           PRT
market_segment                              Online TA
distribution_channel                            TA/TO
is_repeated_guest                                   0
previous_cancellations                              0
previous_bookings_not_canceled                      0
reserved_room_type                                  B
assigned_room_type                                  B
booking_changes                                     0
deposit_type                               No Deposit
agent                                             8.0
company                                           NaN
days_in_waiting_list                                0
customer_type                         Transient-Party
adr                                            104.25
required_car_parking_spaces                         0
total_of_special_requests                           1
reservation_status                           Canceled
reservation_status_date                    2015-12-10
id_                                             46132
stays_type                                Short stays
parking                                            No
año                                              2015
mes                                                12
fecha                             2015-12-10 00:00:00
mes_nuevo                                    December
Name: 46132, dtype: object

In [152]:
df.iloc[[list(df.columns).index("adults"),list(df.columns).index("babies") + 1], :]

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
103477,103477,City Hotel,0,197,52,1,4,0,3,0,...,0,Check-Out,2016-12-26,103477,Short stays,No,2016,12,2016-12-26,December
118200,118200,City Hotel,0,10,32,2,2,0,3,0,...,1,Check-Out,2017-08-16,118200,Short stays,No,2017,08,2017-08-16,August

In [150]:
df.iloc[::2, list(df.columns).index("adults"):list(df.columns).index("babies") + 1]

        adults  children  babies
40984        0         3       0
54726        0         3       0
82988        0         3       0
95646        0         3       0
112754       0         3       0
...        ...       ...     ...
1587        26         0       0
1884        26         0       0
2164        26         0       0
1962        27         0       0
1643        50         0       0

[59695 rows x 3 columns]

In [147]:
list(df.columns).index("adults")

7

In [148]:
list(df.columns).index("children")

8

In [149]:
list(df.columns).index("babies")

9

In [153]:
df.iloc[:, 0]

40984    40984
46132    46132
54726    54726
54888    54888
82988    82988
         ...
1917      1917
1962      1962
1539      1539
1643      1643
2173      2173
Name: index, Length: 119390, dtype: int64

In [154]:
df.head()

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
40984,40984,City Hotel,0,1,33,1,1,0,3,0,...,0,Check-Out,2015-08-12,40984,Short stays,No,2015,08,2015-08-12,August
46132,46132,City Hotel,1,6,51,1,0,0,3,0,...,1,Canceled,2015-12-10,46132,Short stays,No,2015,12,2015-12-10,December
54726,54726,City Hotel,1,59,31,2,4,0,3,0,...,2,Canceled,2016-06-02,54726,Short stays,No,2016,06,2016-06-02,June
54888,54888,City Hotel,1,225,31,2,4,0,3,0,...,1,Canceled,2016-06-04,54888,Short stays,No,2016,06,2016-06-04,June
82988,82988,City Hotel,0,0,2,0,2,0,3,0,...,1,Check-Out,2016-01-10,82988,Short stays,No,2016,01,2016-01-10,January

In [155]:
df.sort_values(by = "fecha", inplace = True)

In [160]:
df.head(50)

,index,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,total_of_special_requests,reservation_status,reservation_status_date,id_,stays_type,parking,año,mes,fecha,mes_nuevo
73893,73893,City Hotel,1,321,36,0,2,2,0,0,...,0,Canceled,2014-10-17,73893,Short stays,No,2014,10,2014-10-17,October
73826,73826,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73826,Short stays,No,2014,10,2014-10-17,October
73827,73827,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73827,Short stays,No,2014,10,2014-10-17,October
73828,73828,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73828,Short stays,No,2014,10,2014-10-17,October
73829,73829,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73829,Short stays,No,2014,10,2014-10-17,October
73830,73830,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73830,Short stays,No,2014,10,2014-10-17,October
73831,73831,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73831,Short stays,No,2014,10,2014-10-17,October
73832,73832,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73832,Short stays,No,2014,10,2014-10-17,October
73833,73833,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73833,Short stays,No,2014,10,2014-10-17,October
73834,73834,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73834,Short stays,No,2014,10,2014-10-17,October
73835,73835,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73835,Short stays,No,2014,10,2014-10-17,October
73836,73836,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73836,Short stays,No,2014,10,2014-10-17,October
73837,73837,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73837,Short stays,No,2014,10,2014-10-17,October
73838,73838,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73838,Short stays,No,2014,10,2014-10-17,October
73839,73839,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73839,Short stays,No,2014,10,2014-10-17,October
73840,73840,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73840,Short stays,No,2014,10,2014-10-17,October
73841,73841,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73841,Short stays,No,2014,10,2014-10-17,October
73842,73842,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73842,Short stays,No,2014,10,2014-10-17,October
73843,73843,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73843,Short stays,No,2014,10,2014-10-17,October
73844,73844,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73844,Short stays,No,2014,10,2014-10-17,October
73825,73825,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73825,Short stays,No,2014,10,2014-10-17,October
73846,73846,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73846,Short stays,No,2014,10,2014-10-17,October
73824,73824,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73824,Short stays,No,2014,10,2014-10-17,October
73822,73822,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73822,Short stays,No,2014,10,2014-10-17,October
73803,73803,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73803,Short stays,No,2014,10,2014-10-17,October
73804,73804,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73804,Short stays,No,2014,10,2014-10-17,October
73805,73805,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73805,Short stays,No,2014,10,2014-10-17,October
73806,73806,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73806,Short stays,No,2014,10,2014-10-17,October
73807,73807,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73807,Short stays,No,2014,10,2014-10-17,October
73808,73808,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73808,Short stays,No,2014,10,2014-10-17,October
73809,73809,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73809,Short stays,No,2014,10,2014-10-17,October
73810,73810,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73810,Short stays,No,2014,10,2014-10-17,October
73811,73811,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73811,Short stays,No,2014,10,2014-10-17,October
73812,73812,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73812,Short stays,No,2014,10,2014-10-17,October
73813,73813,City Hotel,1,286,31,0,2,2,0,0,...,0,Canceled,2014-10-17,73813,Short stays,No,2014,10,2014-10-17,October
73814,73814,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73814,Short stays,No,2014,10,2014-10-17,October
73815,73815,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73815,Short stays,No,2014,10,2014-10-17,October
73816,73816,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73816,Short stays,No,2014,10,2014-10-17,October
73817,73817,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73817,Short stays,No,2014,10,2014-10-17,October
73818,73818,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73818,Short stays,No,2014,10,2014-10-17,October
73819,73819,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73819,Short stays,No,2014,10,2014-10-17,October
73820,73820,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73820,Short stays,No,2014,10,2014-10-17,October
73821,73821,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73821,Short stays,No,2014,10,2014-10-17,October
73823,73823,City Hotel,1,300,33,0,2,2,0,0,...,0,Canceled,2014-10-17,73823,Short stays,No,2014,10,2014-10-17,October
73847,73847,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73847,Short stays,No,2014,10,2014-10-17,October
73848,73848,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73848,Short stays,No,2014,10,2014-10-17,October
73849,73849,City Hotel,1,307,34,0,2,2,0,0,...,0,Canceled,2014-10-17,73849,Short stays,No,2014,10,2014-10-17,October
73875,73875,City Hotel,1,321,36,0,2,2,0,0,...,0,Canceled,2014-10-17,73875,Short stays,No,2014,10,2014-10-17,October
73876,73876,City Hotel,1,321,36,0,2,2,0,0,...,0,Canceled,2014-10-17,73876,Short stays,No,2014,10,2014-10-17,October
73877,73877,City Hotel,1,321,36,0,2,2,0,0,...,0,Canceled,2014-10-17,73877,Short stays,No,2014,10,2014-10-17,October