In [4]:
import pandas as pd
import numpy as np
import calendar
pd.options.display.max_columns = None

**Analisis exploratorio** del dataframe. lo primero que deberéis hacer es un pequeño análisis exploratorio donde saquéis: 

- Número de filas y columnas

- Cuáles son los nombres de las columnas

- Los nombres de las columnas tienen espacios. Cambiar los nombres de las columnas, para que en vez de espacios tengan "_"

- ¿Cuántos nulos tiene nuestro df? Mostrad solo aquellas filas que tengan nulos y en formato del porcentaje

- ¿Tenemos duplicados en nuestro df?

- ¿Cuáles son los principales estadísticos de las variables numéricas? ¿Y de las categóricas? Mostrad los resultados por separado. 

- Cread un subdataframe que contenga unicamente las columnas de tipo *object*

In [5]:
df = pd.read_csv("datos/hotel_bookings.csv", index_col = 0)
df.head(1)

,hotel,is canceled,lead time,arrival date week number,stays in weekend nights,stays in week nights,adults,children,babies,meal,country,market segment,distribution channel,is repeated guest,previous cancellations,previous bookings not canceled,reserved room type,assigned room type,booking changes,deposit type,agent,company,days in waiting list,customer type,adr,required car parking spaces,total of special requests,reservation status,reservation status date
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01

In [6]:
df.shape

(119390, 29)

In [7]:
df.columns

Index(['hotel', 'is canceled', 'lead time', 'arrival date week number',
       'stays in weekend nights', 'stays in week nights', 'adults', 'children',
       'babies', 'meal', 'country', 'market segment', 'distribution channel',
       'is repeated guest', 'previous cancellations',
       'previous bookings not canceled', 'reserved room type',
       'assigned room type', 'booking changes', 'deposit type', 'agent',
       'company', 'days in waiting list', 'customer type', 'adr',
       'required car parking spaces', 'total of special requests',
       'reservation status', 'reservation status date'],
      dtype='object')

In [8]:
nuevas_columnas = {i: i.replace(" ", "_") for i in df.columns}
df.rename(columns= nuevas_columnas, inplace = True)
df.head(1)

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01

In [9]:
nulos = (df.isnull().sum() / df.shape[0] * 100).reset_index()
nulos = nulos[nulos[0] > 0]
nulos.columns = ["columnas", "%_nulos"]
nulos

    columnas    %_nulos
7   children   0.003350
10   country   0.408744
20     agent  13.686238
21   company  94.306893

In [10]:
df.duplicated().sum()

31994

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

In [12]:
df.describe(include = "object").T

                          count unique         top    freq
hotel                    119390      2  City Hotel   79330
meal                     119390      5          BB   92310
country                  118902    177         PRT   48590
market_segment           119390      8   Online TA   56477
distribution_channel     119390      5       TA/TO   97870
reserved_room_type       119390     10           A   85994
assigned_room_type       119390     12           A   74053
deposit_type             119390      3  No Deposit  104641
customer_type            119390      4   Transient   89613
reservation_status       119390      3   Check-Out   75166
reservation_status_date  119390    926  2015-10-21    1461

In [13]:
categoricas = df.select_dtypes(include = "object")
categoricas.head()

,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03

**Cread una columna que se llame `id`, que contenga números consecutivos que no se repitan**

In [14]:
df["id"] = range(0, df.shape[0])

**Cread una columma nueva usando la columna `stays_in_weekend_nights`**

Basandonos en esta columna queremos dividir las estancias en dos categorías: 

- Estancias superiores a 5 dias serán etiquetadas como "long stay" 

- Estancias iguales o inferiores a 5 días serán consideradas como "short stay"

- Cread una nueva columna que se llame "stays_type" 

- Mostrad las 6 últimas filas

In [15]:
df["stays_type"] = np.where(df["stays_in_weekend_nights"] > 5, "long stay", "short stay")

In [16]:
df[["stays_in_weekend_nights", "stays_type"]].sample(10)

        stays_in_weekend_nights  stays_type
118699                        1  short stay
33065                         2  short stay
58317                         1  short stay
15342                         2  short stay
79806                         2  short stay
71848                         1  short stay
15878                         0  short stay
35960                         0  short stay
88108                         0  short stay
15324                         2  short stay

In [17]:
df.tail(6)

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id,stays_type
119384,City Hotel,0,21,35,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,2,Check-Out,2017-09-06,119384,short stay
119385,City Hotel,0,23,35,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,119385,short stay
119386,City Hotel,0,102,35,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,119386,short stay
119387,City Hotel,0,34,35,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,119387,short stay
119388,City Hotel,0,109,35,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,119388,short stay
119389,City Hotel,0,205,35,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,119389,short stay

**Basandonos en la columna `required_car_parking_spaces`:**

- Chequead los valores únicos de la columna

- De cada una de las categorías de la columna, ¿cuántos registros tenemos de cada uno de ellos? Mostrad este resultado como un DataFrame

- Esta columna está en formato numérico y no nos interesa. Cambiad los 0 por "No" y mayores que 0 por "Si"

- Cread una nueva columna que se llame "parking"

In [18]:
df["required_car_parking_spaces"].unique()

array([0, 1, 2, 8, 3])

In [19]:
resultado = pd.DataFrame(df["required_car_parking_spaces"].value_counts()).reset_index()
resultado.columns =  ["numero de coches", "ocurrencias"]
resultado

   numero de coches  ocurrencias
0                 0       111974
1                 1         7383
2                 2           28
3                 3            3
4                 8            2

In [20]:
df["parking"] = np.where(df["required_car_parking_spaces"] == 0, "No", "Si")

In [21]:
df.parking.unique()

array(['No', 'Si'], dtype=object)

In [22]:
df.parking.value_counts()

No    111974
Si      7416
Name: parking, dtype: int64

In [23]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id,stays_type,parking
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,short stay,No
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,1,short stay,No
2,Resort Hotel,0,7,27,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,2,short stay,No
3,Resort Hotel,0,13,27,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,3,short stay,No
4,Resort Hotel,0,14,27,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03,4,short stay,No

**Utilizando la columna de `reservation_status_date`:**

- Cread dos columnas nuevas que correspondan con  el mes y el año. 

- Una vez que las hayais creado eliminad la columna `reservation_status_date`

- ¿Qué mes es en el que tenemos más reservas? ¿Y el año?

In [24]:
def separar_fechas(fecha):
    lista_fecha = fecha.split("-")
    return lista_fecha[0], lista_fecha[1]

In [25]:
df[["year", "month"]] = df.apply(lambda x: separar_fechas(x["reservation_status_date"]), axis = 1, result_type= "expand")

In [26]:
#df.drop(["reservation_status_date"], axis = 1, inplace = True)

In [27]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id,stays_type,parking,year,month
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,short stay,No,2015,07
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,1,short stay,No,2015,07
2,Resort Hotel,0,7,27,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,2,short stay,No,2015,07
3,Resort Hotel,0,13,27,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,3,short stay,No,2015,07
4,Resort Hotel,0,14,27,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03,4,short stay,No,2015,07

In [28]:
df["year"].value_counts()

2016    57797
2017    36483
2015    24929
2014      181
Name: year, dtype: int64

In [29]:
df["month"].value_counts()

07    12106
08    11249
10    11143
01    10681
05    10304
03    10230
04     9999
02     9498
09     9403
06     9278
11     8099
12     7400
Name: month, dtype: int64

**Para convertir una columna a `datetime`**

In [30]:
from datetime import datetime

In [31]:
df["fecha_formateada"] = pd.to_datetime(df["reservation_status_date"])

In [32]:
df.dtypes

hotel                                     object
is_canceled                                int64
lead_time                                  int64
arrival_date_week_number                   int64
stays_in_weekend_nights                    int64
stays_in_week_nights                       int64
adults                                     int64
children                                 float64
babies                                     int64
meal                                      object
country                                   object
market_segment                            object
distribution_channel                      object
is_repeated_guest                          int64
previous_cancellations                     int64
previous_bookings_not_canceled             int64
reserved_room_type                        object
assigned_room_type                        object
booking_changes                            int64
deposit_type                              object
agent                                    float64
company                                  float64
days_in_waiting_list                       int64
customer_type                             object
adr                                      float64
required_car_parking_spaces                int64
total_of_special_requests                  int64
reservation_status                        object
reservation_status_date                   object
id                                         int64
stays_type                                object
parking                                   object
year                                      object
month                                     object
fecha_formateada                  datetime64[ns]
dtype: object

In [34]:
# si queremos sacar solo el año

df["fecha_formateada"].dt.year

0         2015
1         2015
2         2015
3         2015
4         2015
          ...
119385    2017
119386    2017
119387    2017
119388    2017
119389    2017
Name: fecha_formateada, Length: 119390, dtype: int64

In [35]:
# si queremos sacar solo el mes

df["fecha_formateada"].dt.month

0         7
1         7
2         7
3         7
4         7
         ..
119385    9
119386    9
119387    9
119388    9
119389    9
Name: fecha_formateada, Length: 119390, dtype: int64

**Ahora no nos interesan los meses en números y queremos tenerlos con letra, es decir, enero, febrero, marzo, etc... Cambiad los valores de la columna "month" para tenerlos en el formato que queremos.**

In [36]:
meses_numericos = sorted(list(df["month"].unique()))
meses_letras = list(calendar.month_name)[1:]

In [37]:
diccionario = dict(zip(meses_numericos, meses_letras))
diccionario

{'01': 'January',
 '02': 'February',
 '03': 'March',
 '04': 'April',
 '05': 'May',
 '06': 'June',
 '07': 'July',
 '08': 'August',
 '09': 'September',
 '10': 'October',
 '11': 'November',
 '12': 'December'}

In [38]:
def formatear_mes(mes, diccionario_conversion = diccionario):
    return diccionario[mes]

In [39]:
df["month"] = df["month"].apply(formatear_mes)

**¿Cuál es el número medio, el máximo y el mínimo de noches pasadas en fines de semana en funcion del tipo de hotel (columma `hotel`)? ¿Y los días entre semana?**

In [40]:
df_tipo_hotel_fines = df.groupby("hotel")["stays_in_weekend_nights"].agg(["mean", "max", "min"]).reset_index()
df_tipo_hotel_fines

          hotel      mean  max  min
0    City Hotel  0.795185   16    0
1  Resort Hotel  1.189815   19    0

In [41]:
df_tipo_hotel_semana = df.groupby("hotel")["stays_in_week_nights"].agg(["mean", "max", "min"]).reset_index()
df_tipo_hotel_semana

          hotel      mean  max  min
0    City Hotel  2.182957   41    0
1  Resort Hotel  3.128732   50    0

**¿ Basándonos en el país y en el tipo de hotel, cual es la media de adultos de las reservas?**

**BONUS** Si exploramos los datos del ejercicio anterior, veremos que hay en paises donde solo tenemos un tipo de hotel y en otros tenemos los dos tipos. En este caso, deberéis quedaros solo con aquellos paises que tengan los dos tipos de hoteles. ¿Cuántos países distintos tenemos en este nuevo resultado que acabamos de generar?

In [42]:
df_country = df.groupby(["country", "hotel",])["adults"].mean().reset_index()
df_country.head()

  country         hotel    adults
0     ABW    City Hotel  2.500000
1     AGO    City Hotel  1.550296
2     AGO  Resort Hotel  1.916667
3     AIA    City Hotel  2.000000
4     ALB    City Hotel  1.666667

In [43]:
bonus = df_country[df_country.duplicated(subset="country", keep=False)]
bonus

    country         hotel    adults
1       AGO    City Hotel  1.550296
2       AGO  Resort Hotel  1.916667
4       ALB    City Hotel  1.666667
5       ALB  Resort Hotel  2.000000
6       AND    City Hotel  2.000000
..      ...           ...       ...
286     ZAF  Resort Hotel  1.944444
287     ZMB    City Hotel  2.000000
288     ZMB  Resort Hotel  2.000000
289     ZWE    City Hotel  2.000000
290     ZWE  Resort Hotel  2.000000

[228 rows x 3 columns]

In [44]:
# ¿Cuántos países distintos tenemos en este nuevo resultado que acabamos de generar?
len(bonus.country.unique())

114

**Basándonos en la columna de `hotel` filtrad los datos para extraer solo los valores de "Resort Hotel"**

In [45]:
df_rh = df[df["hotel"] == "Resort Hotel"]
df_rh.head(1)

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id,stays_type,parking,year,month,fecha_formateada
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,short stay,No,2015,July,2015-07-01

In [46]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id,stays_type,parking,year,month,fecha_formateada
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,short stay,No,2015,July,2015-07-01
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,1,short stay,No,2015,July,2015-07-01
2,Resort Hotel,0,7,27,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,2,short stay,No,2015,July,2015-07-02
3,Resort Hotel,0,13,27,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,3,short stay,No,2015,July,2015-07-02
4,Resort Hotel,0,14,27,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03,4,short stay,No,2015,July,2015-07-03

In [47]:
df.meal.unique()

array(['BB', 'FB', 'HB', 'SC', 'Undefined'], dtype=object)

**Basándonos en la columa `meal` extraed solo los valores que correspondan con "BB" y "FB"**

In [48]:
df_meal = df[(df["meal"] == "BB") | (df["meal"] == "FB")]
df_meal.head(2)

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id,stays_type,parking,year,month,fecha_formateada
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,short stay,No,2015,July,2015-07-01
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,1,short stay,No,2015,July,2015-07-01

**En este caso, nos interesan los datos donde tengamos reservas sin niños y sin niños**

In [49]:
df_adultos = df[(df["children"] == 0) & (df["babies"] == 0)]
df_adultos.head(2)

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id,stays_type,parking,year,month,fecha_formateada
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,short stay,No,2015,July,2015-07-01
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,1,short stay,No,2015,July,2015-07-01

**¿Cuáles son los valores únicos de la columna `children`?**

**¿Por qué nos sale con decimales?**

In [50]:
df.children.unique()

array([ 0.,  1.,  2., 10.,  3., nan])

**Reemplazad los valores nulos por la moda**

In [51]:
df["children"].fillna(df.children.mode()[0], inplace = True)

In [52]:
df.children.unique()

array([ 0.,  1.,  2., 10.,  3.])

**Viendo los valores únicos del número de hijos, hay algo que os llame la antención?**

**Ahora queremos ordenar nuestros datos, lo haremos por el año** Las condiciones para ordenar son: 

- Año: de menor a mayor

In [53]:
df.sort_values(by = "year", ascending = True, inplace = True)

**Ordendad de nuevo el df, pero en este caso en función de número de adultos y niños.** Las condiciones para ordenar son: 

- Número de adultos: de mayor a menor

- Número de hijos: de menor a mayor

In [54]:
df.sort_values(by = ["adults", "children"], ascending = [False, True], inplace = True)

**Después de hacer este último orden, nuestros índices ya no están ordenados, ordenad los índices para que empiecen desde el cero**

In [55]:
df.reset_index(inplace = True, drop = True)
df.head()

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id,stays_type,parking,year,month,fecha_formateada
0,Resort Hotel,1,338,41,2,0,55,0.0,0,HB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Group,0.0,0,0,Canceled,2015-01-02,2173,short stay,No,2015,January,2015-01-02
1,Resort Hotel,1,336,37,1,2,50,0.0,0,BB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Group,0.0,0,0,Canceled,2015-01-18,1643,short stay,No,2015,January,2015-01-18
2,Resort Hotel,1,304,36,0,3,40,0.0,0,BB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Group,0.0,0,0,Canceled,2015-01-02,1539,short stay,No,2015,January,2015-01-02
3,Resort Hotel,1,352,39,1,3,27,0.0,0,HB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Group,0.0,0,0,Canceled,2015-01-02,1962,short stay,No,2015,January,2015-01-02
4,Resort Hotel,1,349,39,1,3,27,0.0,0,HB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Group,0.0,0,0,Canceled,2015-01-02,1917,short stay,No,2015,January,2015-01-02

**Momento de practicar con el loc e iloc**

- Extraed todas las columnas para el índice 1

- Extraed las colummas de adultos, niños y bebes de todas las filas pares

- Extraed todas las filas de la columna hotel (utilizad loc o iloc)

In [56]:
df.iloc[1,:]

hotel                                    Resort Hotel
is_canceled                                         1
lead_time                                         336
arrival_date_week_number                           37
stays_in_weekend_nights                             1
stays_in_week_nights                                2
adults                                             50
children                                          0.0
babies                                              0
meal                                               BB
country                                           PRT
market_segment                                 Direct
distribution_channel                           Direct
is_repeated_guest                                   0
previous_cancellations                              0
previous_bookings_not_canceled                      0
reserved_room_type                                  A
assigned_room_type                                  A
booking_changes                                     0
deposit_type                               No Deposit
agent                                             NaN
company                                           NaN
days_in_waiting_list                                0
customer_type                                   Group
adr                                               0.0
required_car_parking_spaces                         0
total_of_special_requests                           0
reservation_status                           Canceled
reservation_status_date                    2015-01-18
id                                               1643
stays_type                                 short stay
parking                                            No
year                                             2015
month                                         January
fecha_formateada                  2015-01-18 00:00:00
Name: 1, dtype: object

In [57]:
df.loc[::2, ["adults", "children", "babies"]].head()

   adults  children  babies
0      55       0.0       0
2      40       0.0       0
4      27       0.0       0
6      26       0.0       0
8      26       0.0       0

In [58]:
df.iloc[:,0]

0         Resort Hotel
1         Resort Hotel
2         Resort Hotel
3         Resort Hotel
4         Resort Hotel
              ...
119385      City Hotel
119386      City Hotel
119387      City Hotel
119388      City Hotel
119389      City Hotel
Name: hotel, Length: 119390, dtype: object